.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    // background: rgb(81,165,227);
    // background: linear-gradient(120deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
    background-image: linear-gradient(120deg, rgba(81,165,227,0.4), rgba(91,104,171,0.4)), url("./assets/game-bg.png");
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand';
    color: white;
    text-shadow: 0px 0px 10px black;
    &__intro {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @media screen and (max-width: 800px) {
            margin: 2rem;
            flex-direction: column;
        }
        img {
            width: 120px;
            height: 120px;
            border-radius: 60px;
            box-shadow: 0px 0px 10px black;
        }
        p {
            font-size: 1.5rem;
            padding-left: 2rem;
            width: 75%;
            text-align: left;
            text-shadow: 3px 3px 3px black;
            span {
                font-weight: 700;
            }
            @media screen and (max-width: 800px) {
                width: 100%;
                text-align: center;
                padding-left: 0;
            }
        }
    }
    &__core {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin-top: 2rem;
        @media screen and (max-width: 1200px) {
            width: 90%;
        }
        @media screen and (max-width: 900px) {
            width: 100%;
        }
        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__tries, &__userAction {
            margin: auto;
            width: 400px;
            height: 500px;
            border-radius: 6px;
            background: linear-gradient(120deg, rgba(81,165,227,0.85) 0%, rgba(91,104,171,0.85) 67%);
            box-shadow: 0px 0px 25px 4px black;
            @media screen and (max-width: 800px) {
                background: none;
                box-shadow: 0px 0px 0px 0px black;
            }
        }
        &__tries {
            @media screen and (max-width: 800px) {
                height: 200px;
                margin-top: -2rem;
            }
            @media screen and (max-width: 400px) {
                width: 100%;
            }
            &__title {
                width: 100%;
                text-align: center;
                font-size: 2rem;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }
            &__tableHeader {
                display: flex;
                justify-content: space-around;
                font-weight: 700;
                @media screen and (max-width: 300px) {
                    text-align: center;
                }
            }
            &__tableList {
                margin-top: 20px;
                height: 370px;
                overflow: auto;
                @media screen and (max-width: 800px) {
                    height: 70px;
                }
                li {
                    display: grid;
                    grid-template-columns: 1fr 1.5fr 1fr;
                    margin-bottom: 3px;
                    span:nth-child(1) {
                        text-align: center;
                        margin-left: -10px;
                    }
                    span:nth-child(2) {
                        text-align: center;
                        margin-right: 20px;
                    } 
                    span:nth-child(3) {
                        text-align: right;
                        margin-right: 20px;
                    }   
                }
            }
        }
        &__userAction {
            @media screen and (max-width: 400px) {
                width: 100%;
                height: auto;
                margin-bottom: 1rem;
            }
            &__hint {
                width: 100%;
                height: 50px;
                text-align: center;
                font-size: 2rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
                @media (max-width: 800px) {
                    text-shadow: 3px 3px 3px black;
                }
            }
            &__numberGrid {
                margin: auto;
                width: 380px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(4, 1fr);
                @media screen and (max-width: 400px) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    width: 100%;  
                }
                & > div {
                    height: 60px;
                    justify-self: center;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @media screen and (max-width: 400px) {
                    &__number1 {
                        grid-area: 2 / 1 / 3 / 2; 
                    }
                    &__number2 {
                        grid-area: 2 / 2 / 3 / 3; 
                    }
                    &__number3 {
                        grid-area: 2 / 3 / 3 / 4; 
                    }
                    &__number4 {
                        grid-area: 3 / 1 / 4 / 2; 
                    }
                    &__number5 {
                        grid-area: 3 / 2 / 4 / 3; 
                    }
                    &__number6 {
                        grid-area: 3 / 3 / 4 / 4; 
                    }
                    &__number7 {
                        grid-area: 4 / 1 / 5 / 2; 
                    }
                    &__number8 {
                        grid-area: 4 / 2 / 5 / 3; 
                    }
                    &__number9 {
                        grid-area: 4 / 3 / 5 / 4; 
                    }
                    &__number0 {
                        grid-area: 5 / 2 / 6 / 3; 
                    }
                    &__delete {
                        grid-area: 5 / 3 / 6 / 4 !important;
                    }
                    &__validate {
                        grid-area: 6 / 1 / 7 / 4 !important;
                    }
                }
                &__number1, &__number2, &__number3, &__number4, &__number5, &__number6, &__number7, &__number8, &__number9, &__number0 {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin:auto;
                    color: black;
                    background: linear-gradient(120deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
                    text-shadow: none;
                    font-size: 1.8rem;
                    font-weight: 600;
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 4px 4px 4px black;
                    cursor: pointer;
                    &:active {
                        box-shadow: none;
                        transform: translate(4px, 4px);
                    }
                    img {
                        height: 40px;
                        filter: drop-shadow(0px 0px 4px black);
                    }
                }
                &__input {
                    grid-area: 1 / 1 / 2 / 5;
                    width: 288px;
                    color: white;
                    text-shadow: 0px 0px 15px black;
                    font-size: 3rem;
                    font-weight: 600;
                    transform: translateY(7px);
                    @media screen and (max-width: 400px) {
                        grid-area: 1 / 1 / 2 / 4; 
                        width: 200px;
                    }
                    span {
                        margin-left: 6px;
                        font-weight: 300;
                        transform: translateY(-3px);
                        animation: typing 1.5s linear infinite;
                    }
                }
                &__delete {
                    grid-area: 1 / 5 / 2 / 6;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    color: white;
                    text-shadow: 0px 0px 15px black;
                    font-size: 1.8rem;
                    font-weight: 600;
                    background: linear-gradient(120deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 4px 4px 4px black;
                    cursor: pointer;
                    &:active {
                        box-shadow: none;
                        transform: translate(4px, 4px);
                    }
                    img {
                        height: 40px;
                        transform: rotate(45deg);
                        filter: drop-shadow(0px 0px 4px black);
                    }
                }
                &__validate {
                    grid-area: 4 / 1 / 5 / 6;
                    width: 364px;
                    height: 60px;
                    margin: auto;
                    color: white;
                    text-shadow: 0px 0px 15px black;
                    font-size: 2.2rem;
                    font-family: 'Quicksand';
                    font-weight: 600;
                    background: linear-gradient(120deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: 4px 4px 4px black;
                    cursor: pointer;
                    &:active {
                        box-shadow: none;
                        transform: translate(4px, 4px);
                    }
                    @media screen and (max-width: 400px) {
                        width: 200px;
                    }
                }
            }
            &__showScore {
                width: 80%;
                height: 60px;
                margin-top: 0rem;
                margin-left: 10%;
                margin-right: 10%;
                color: white;
                text-shadow: 0px 0px 15px black;
                font-size: 2.2rem;
                font-family: 'Quicksand';
                font-weight: 600;
                background: linear-gradient(120deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: 4px 4px 4px black;
                animation: winAnimation 2s linear infinite;
                cursor: pointer;
                &:active {
                    box-shadow: none;
                    transform: translate(4px, 4px);
                }
                @media screen and (max-width: 400px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__scoreLoading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 200px;
        box-shadow: 4px 4px 4px black;
        border: 1px solid black;
        border-radius: 15px;
        background: linear-gradient(120deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
        color: white;
        text-shadow: 0px 0px 15px black;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @keyframes typing {
        0% {
            opacity: 1;
        }
        49% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes winAnimation {
        0% {
            transform: scale(0.97);
        }
        25% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.03);
        }
        75% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.97);
        }
    }

}