.leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    // background: rgb(81,165,227);
    // background: linear-gradient(120deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
    background-image: linear-gradient(120deg, rgba(81,165,227,0.4), rgba(91,104,171,0.4)), url("./assets/game-bg.png");
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand';
    color: white;
    text-shadow: 0px 0px 10px black;
    &__title {
        font-size: 4rem;
        text-align: center;
        margin-top: 1rem;
    }
    &__list {
        margin-top: 3rem;
        height: 60vh;
        width: 50vw;
        overflow: auto;
        @media screen and (max-width: 1000px) {
            width: 70vw;
        }
        @media screen and (max-width: 600px) {
            width: 90vw;
        }
        &::-webkit-scrollbar {
            display: none;
          }
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
        &__header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-weight: bold;

        }
        &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            height: 60px;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            & > p {
                min-width: 60px;
                height: 60px;
                font-size: 1.5rem;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                margin-left: 0.5rem;
                box-sizing: border-box;
                border: 1px solid black;
                box-shadow: 0px 0px 10px black;
                background: linear-gradient(170deg, rgba(81,165,227,0.85) 0%, rgba(91,104,171,0.85) 67%);
            }
            &__score {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: linear-gradient(170deg, rgba(81,165,227,0.85) 0%, rgba(91,104,171,0.85) 67%);
                font-size: 2rem;
                box-shadow: 0px 0px 10px black;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                margin-right: 0.5rem;
            }
            img {
                width: 60px;
                height: 60px;
                border-radius: 30px;
                box-shadow: 4px 0px 10px black;
            }
            p:nth-child(2) {
                text-align: center;
            }
            p:nth-child(3) {
                margin-right: 3rem;
                text-align: left;
                @media screen and (max-width: 600px) {
                    margin-right: 1rem;
                }
            }
        }
        &__item:nth-child(2) > p {
            font-size: 2rem;
            color: gold;
            border: 1px solid gold;
        }
        &__item:nth-child(3) > p {
            font-size: 1.8rem;
            color: silver;
            border: 1px solid silver;
        }
        &__item:nth-child(4) > p {
            font-size: 1.6rem;
            color: rgb(193, 124, 39);
            border: 1px solid rgb(193, 124, 39);
        }
    }
    &__playAgain {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        width: 250px;
        height: 50px;
        background: linear-gradient(170deg, rgba(81,165,227,1) 0%, rgba(91,104,171,1) 67%);
        font-family: 'Quicksand';
        color: white;
        text-shadow: 0px 0px 15px black;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 4px 4px 4px black;
        cursor: pointer;
        &:active {
            box-shadow: none;
            transform: translate(4px, 4px);
        }
    }
}